:global {
    body[data-theme = 'light' ] {
        --text-color: var(--black-color);
       
    }
    body[data-theme = 'dark' ] {
        --text-color: var(--white-color);
        
    }
}

.wrapper {
    max-width: 100%;
    margin-top: 50px;
    .word_info {
        max-width: 100%;
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        .text__wrapper {
            max-width: 100%;
            .title {
                max-width: 100%;
                font-size: 60px;
                color:var(--text-color);
                word-wrap: break-word;
            }
            .pronounce {
                max-width: 100%;
                color:var(--color-primary);
                font-size:30px;
                word-wrap: break-word;
            }
        }
        .audio {
            cursor: pointer;
        }
    }
   
}
.divider {
    border-top: 1px solid var(--light-gray-color);
}
.source_wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    .source_title {
        color:var(--gray-color)
    }
    margin-bottom: 50px;
}
@media(max-width:450px) {
    .wrapper {
        
        .word_info {
            .text__wrapper {
                
                .title {
                    font-size: 40px;
                    
                }
                .pronounce {
                                
                    font-size:20px
                }
            }
            
        }
    }
}